rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow access if user is logged in
      // Limit file size to 5MB
      // Limit to images only
      allow read, write: if request.auth != null 
                         && request.resource.size < 5 * 1024 * 1024
                         && request.resource.contentType.matches('image/.*');
    }
  }
}